<md-toolbar ng-class="{'md-tall' : mdTall}" class="mm-header">
  <div class="md-toolbar-tools">
      <md-button aria-label="Open Sidebar" ng-click="toggleSettings()" hide-gt-md>
        <md-tooltip>
          Navigation
        </md-tooltip>
        <md-icon mm-icon-fill="white" icon="img/icons/ic_menu_24px.svg"></md-icon>
      </md-button>
      <span class="mm-app-name">Materialistic<span>Me</span></span>
      <span flex></span>
      <md-button aria-label="Search">
        <md-tooltip>
          Web Search
        </md-tooltip>
        <md-icon mm-icon-fill="white" icon="img/icons/ic_search_24px.svg"></md-icon>
      </md-button>
      <md-button aria-label="Open Menu">
        <md-tooltip>
          Menu
        </md-tooltip>
        <md-icon mm-icon-fill="white" icon="img/icons/ic_more_vert_24px.svg"></md-icon>
      </md-button>
  </div>
  <div layout="row" layout-margin layout-padding class="mm-heading">
    <div flex class="mm-greeting">
      <h4 class="mm-greeting-msg">{{greetingMessage}}</h4>
      <h1 class="mm-greeting-name">Nisheed Jagadish</h1>
    </div>
    <div  class="mm-datetime-weather">
      <h1 class="mm-datetime-time">{{currentDateTime| date:"h:mm a" | lowercase}}</h1>
      <h4 class="mm-datetime-date">
        {{currentDateTime | date:"MMM d"}}<sup>{{dateOridinal}}</sup> {{currentDateTime | date:"yyyy"}}
      </h4>
    </div>
  </div>
   <md-button class="md-fab md-primary mm-add-todo" md-theme="pink" aria-label="Add To Do">
        <md-tooltip>
          Add Todo
        </md-tooltip>
      <md-icon mm-icon-fill="white" icon="img/icons/ic_add_24px.svg"></md-icon>
   </md-button>
  <md-progress-linear ng-if="data-loaded" md-mode="indeterminate" md-theme="pink" class="mm-fixed-bottom"></md-progress-linear>
</md-toolbar>
