.mm-toolbar{
  .transition(all 0.3s 0s linear);
}


@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, 
  nav a.button-collapse, 
  nav a.button-collapse i {
    height: 56px;
    line-height: 56px;
  }

  nav .brand-logo{
    font-size: 25px;
    font-weight: 300;
    padding-left: 8px;
  }
}