<div id="mm-header-tabs" class="mm-header-tabs">
  <div id="mm-header-tabs-divider" class="row zero-m-btm grey lighten-4">
    <div class="col s12">
      <div class="divider"></div>
    </div>
  </div>
  <ul class="tabs grey lighten-4">
    <li class="tab col s6 grey lighten-4"><a mm-waves="waves-light" href="#" location="/posts-followed" ng-click="changeView($event)">Followed</a></li>
    <li class="tab col s6 grey lighten-4"><a mm-waves="waves-light" href="#" location="/posts-fresh" ng-click="changeView($event)">Freshly Pressed</a></li>
  </ul>
</div>