<div class="row">
  <div class="col s12 m5 l3">

    <div class="progress grey darken-3" ng-if="!(wordpress.fresh.length > 0)">
      <div class="indeterminate pink"></div>
    </div>

    <div class="card post-list pink z-depth-1" ng-repeat="post in wordpress.fresh" ng-click="showPostDetailsFresh($index)">
      <div class="card-content flex-card"> 
        <div class="post-author-image flex-image">
          <img ng-src="{{post.author.avatar_URL}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="flex-content white-text">
          <span class="post-author-name">{{post.author.name}}</span>
          <span class="post-published">{{post.date | date:"dd MMM yyyy"}}</span>
        </div>
      </div>
      <div class="post-data grey darken-3 white-text">
        <span class="post-title" ng-bind-html="post.title"></span>
        <div class="post-exterpt" ng-bind-html="post.excerpt"></div>
      </div>
    </div>
  </div>
  <div id="post-fresh-detail-container" class="col m7 l9 hide-on-small-and-down">
    <article id="post-fresh-detail" class="post-fresh-detail card grey lighten-5">
      <header class="post-details-header">
        <h1 class="post-details-title" ng-bind-html="wordpress.currentFresh.title"></h1>
        <span class="post-details-author-name">By {{wordpress.currentFresh.author.name}}</span>
        <hr>
      </header>
      <div class="card-content grey-text text-darken-3">
        <div class="post-content" ng-bind-html="wordpress.currentFresh.content"></div>
      </div>
      <footer class="card-action">
        <a href="#">This is a link</a>
      </footer>
    </article>
  </div>  
</div>