<md-bottom-sheet class="md-grid">
  <md-list layout-align="center center">
    <md-item ng-if="item.icon" ng-repeat="item in menuItems">
      <md-button class="md-grid-item-content" aria-label="{{item.name}}" ng-click="listItemClick($index)">
        <div class="md-icon-container">
          <md-icon mm-icon-fill="#e91e63" ng-attr-icon="{{item.icon | iconFilter:48}}" width="48px" height="48px"></md-icon>
        </div>
        <p class="md-grid-text">{{item.name}}</p>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>