@import "./includes/lesshat";
@import "./includes/animated";
@import "./includes/variables";
@import "./includes/mixins";
@import "./includes/scroll";


@import "./components/toolbar";
@import "./components/greeting";
@import "./components/headertabs";
@import "./components/flexcard";
@import "./components/refresh";

html,body{
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

body{
  min-width: 340px;
  min-height: 480px;
}

nav{
  overflow: hidden;
}



@media only screen and (min-width: 1200px)
{
  body {
  font-size: 15px;
  }
}

@media only screen and (min-width: 992px){
  body {
  font-size: 14.5px;
  }
}

@media only screen and (min-width: 0)
{
  body {
  font-size: 14px;
  }
  .drag-target{
    width: 10px !important;
  }
  #sidenav-overlay{
    z-index: 998;
  }
}