@import "./includes/normalize";
@import "./includes/lesshat";
@import "./includes/variables";
@import "./includes/mixins";
@import "./includes/scrollbars";
@import "./includes/roboto-fontface.less";

html,body{
  .font-regular;
  font-size: 12px;
}
.mm-fixed-bottom{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.generate-bg-class(@bg-count);